* {
  margin:  0px;
  padding:  0px;
  font-family: Big Shoulders Display;
  font-size: 30px;

}

nav {
  background-color: #333;
}

nav ul {
  text-align:  center;
}

nav ul li {
  display:  inline-block;
  padding:  20px;
  color:  white;
  cursor:  pointer;
  transition:  .1s ease-in;
}

nav a:link {
  color: white;
}

nav a:visited {
  color: white;
}

nav ul li:hover {
  background-color:  white;
}

nav ul li:hover a {
  color: black;
}

.section2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 700px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;

  text-align: center;
}

.haven-text {
  padding-top: 330px;
  text-align: center;
}

.haven-text h1 {
  font-size: 120px;
}

.logo-column img {
  padding-top: 100px;
}

.section3 {
  text-align: center;
}
.section3 h1 {
  font-size: 60px;
}
.section3 p {
  padding-left: 15%;
  padding-right: 15%;
}

.section4 {
  text-align: center;
}

.section5 {
  text-align: center;
  float: left;
}
.section5 h1 {
  font-size: 60px;
  padding-right: 40%;
}
.section5 p {
  padding-left: 10%;
  padding-right: 50%;
  line-height: 40px;
}
.section5 figcaption {
  float: right;
}

#circleImage {
  border-radius: 50%;
  width:  512px;
  height:  512px;
}

.founderimage {
  border-radius: 10%;
}
.founderimagetext{
  float: right;
  margin-top: 10%;
  margin-right: 10%;
}

.missionImage {
  border-radius: 50%;
  width: 420px;
  height: 420px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.socialmedia {
  width:  80px;
  height:  80px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top:  20px;
}

.subText {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

#about-container {
  display: grid;
  grid-template-columns: .5fr 3fr .25fr 1fr .5fr;
  grid-template-rows: auto;

}

#about-info-container {
  grid-column: 2/3;
  grid-row: auto;
}

#about-image-container {
  grid-column: 4;
  grid-row: auto;
  margin-top: 30px;
}

.textClass {
  font-family: 'Roboto', sans-serif;
}

.headerStyle {
  width: 100%;
  margin-top: 70px;
  margin-bottom: 50px;

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto;
}

.header-text-style {
  text-align: center;
  font-size: 55px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}

.title-container {
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: gray;

  /* Position code */
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

button {
  background-color: #333;
  color: white;
  border: none;
  cursor:  pointer;
  transition:  .1s ease-in;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  color: white;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

