* {
  margin:  0px;
  padding:  0px;
  font-family: Big Shoulders Display;
  font-size: 30px;

}

nav {
  background-color: #333;
}

nav ul {
  text-align:  center;
}

nav ul li {
  display:  inline-block;
  padding:  20px;
  color:  white;
  cursor:  pointer;
  transition:  .1s ease-in;
}

nav ul li:hover {
  background-color:  white;
}

nav a.link {
  color: white;
} 

.section2 {
  /*border:  3px solid #fff;
  display:  inline-block;
  padding:  20px;
  **/
  
  /*-webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 0px;
  -webkit-column-rule: 1px solid rgba(28,110,164,0.5);
  -moz-column-rule: 1px solid rgba(28,110,164,0.5);
  column-rule: 1px solid rgba(28,110,164,0.5);
  align-items: center;
  text-align: center;
  **/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 700px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;

  text-align: center;
}

.haven-text {
  padding-top: 330px;
  text-align: center;
}

.haven-text h1 {
  font-size: 75px;
}

.logo-column img {
  padding-top: 100px;
}

.section3 {
  text-align: center;
}

.section4 {
  text-align: center;
}

#circleImage {
  border-radius: 50%;
  width:  512px;
  height:  512px;
}

.missionImage {
  border-radius: 50%;
  width: 420px;
  height: 420px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.socialmedia {
  width:  128px;
  height:  128px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top:  15px;
}

/**#demoparagraph {
-webkit-column-count: 2;
-moz-column-count: 2;
column-count: 2;
-webkit-column-gap: 40px;
-moz-column-gap: 40px;
column-gap: 40px;
-webkit-column-rule: 1px solid rgba(28,110,164,0.5);
-moz-column-rule: 1px solid rgba(28,110,164,0.5);
column-rule: 1px solid rgba(28,110,164,0.5);
}
*/
